<div class="col-md-12">
    <h2 class="project-titleH2 col-md-8">Projects ({{vm.totalItems}})</h2>

    <div class="input-group col-md-4 search"><input type="text" ng-model="queryProject" ng-change="vm.setPagPage()"
                                                    placeholder="Search for Projects" class="form-control"/>
        <span class="input-group-addon glyphicon glyphicon-search"></span>
    </div>
</div>
<!----title and search box-->

<div class="col-md-12 dpInput">
    <div class="radio-inline handPointer">
        <label>
            <input type="radio" name="optProject" checked="true" ng-model="dpProject" ng-change="vm.loadActive()"/> Show Active Projects
        </label>
    </div>
    <div class="radio-inline handPointer">
        <label>
            <input type="radio" name="optProject" value="" ng-model="dpProject" ng-change="vm.loadAll()"/>Show All Projects
        </label>
    </div>


</div>
<!--Filter and pagination section-->

<table class="table table-hover project-table">
    <tr class="print-table-head">
        <th>Project Number and Title</th>
        <th>Champion</th>
        <th>Site</th>
        <th>Created</th>
        <th>Target Date</th>
        <th>Status</th>
    </tr>
    <tr data-ng-repeat="p in vm.filtered = (vm.projects |  filter:queryProject) | orderBy: vm.predicate | startFrom:(vm.currentPage-1)*vm.numPerPage | limitTo:vm.numPerPage"
        ng-click="vm.getProject(p.ProjNo)" class="clickspan projTab">
        <td>{{p.ProjNo}} - {{p.Title}}</td>
        <td>{{p.Champion}}</td>
        <td>{{p.Site}}</td>
        <td>{{p.PROJCD | date : 'dd/MM/yyyy'}}</td>
        <td>{{p.PROJTD | date : 'dd/MM/yyyy'}}</td>
        <td><img change-status="change-status" status="p.Status" src=""/></td>
    </tr>
</table>

<pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.numPerPage" class="pagination-sm handPointer pull-right">
    <!-- Filter and pagination section-->
</pagination>

<div class="addDeviationButton pull-left">
    <button type="button" ng-click="vm.openNewProject()" class="btn btn-success">Add New Project</button>
</div>
