<form name="editProjectForm" novalidate="novalidate" class="form-horizontal well dv-well">
    <fieldset>

        <div ng-hide="true" ng-model="project.Id"></div>
        
        <div class="form-group" ng-class="{'has-error': editProjectForm.projTitle.$invalid && 
           editProjectForm.projTitle.$dirty }">
            <label for="projTitle" class="col-sm-2 control-label">Title:</label>
            <div class="col-sm-6">
                <input id="projTitle" type="text" required placeholder="Enter the project title" ng-model="vm.project.Title"
                       ng-minlength="5" ng-maxlength="51" class="form-control" required />
            </div>
            <div class="control-group col-sm-2">
                <a ng-disabled="!project.FileName.length" href="{{vm.project.FileName}}" class="btn btn-info">Open Project Folder</a>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-2 control-label" for="devDescribe">Describe the Deviation</label>
            <div class="col-sm-9">
                <textarea id="projDescpt" rows="4" required placeholder="Enter the project Description" ng-model="vm.project.ProjDescpt"
                class="form-control"></textarea>
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': editProjectForm.projChamp.$invalid && 
           editProjectForm.projChamp.$dirty }">
            <label for="projChamp" class="col-sm-2 control-label">Champion:</label>
            <div class="col-sm-4">
                <input id="projChamp" type="text" required="true" placeholder="Enter project champion" ng-model="vm.project.Champion"
                       ng-minlength="5" ng-maxlength="51" class="form-control" required />
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': editProjectForm.projSponor.$invalid && 
           editProjectForm.projSponor.$dirty }">
            <label for="projSponor" class="col-sm-2 control-label">Sponsor:</label>
            <div class="col-sm-4">
                <input id="projSponor" type="text" required="true" placeholder="Enter project sponsor" ng-model="vm.project.Sponsor"
                       ng-minlength="5" ng-maxlength="51" class="form-control" required />
            </div>
        </div>
        
        <div class="form-group">
            <label for="stakeholders" class="col-sm-2 control-label">Stakeholders:</label>
            <div class="col-sm-9">
                <textarea id="stakeholders" type="text" placeholder="" ng-model="vm.project.Stakeholders" rows="2" class="form-control"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="control-group">
                <label for="projStatus" class="col-sm-2 control-label">Status:</label>
                <div class="col-sm-3">
                    <select id="projStatus" type="text" required="required" placeholder="Enter Status..." ng-model="vm.project.Status"
                            ng-options="obj.value as obj.text for obj in vm.stats" class="form-control">
                        <option>New Project</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label for="priority" class="col-sm-1 control-label">Priority:</label>
                <div class="col-sm-2">
                    <select id="priority" type="text" required="required" ng-model="vm.project.Priority" ng-options="p for p in vm.Priority"
                            class="form-control">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="projLoc" class="col-sm-2 control-label">Folder Location:</label>
            <div class="col-sm-9">
                <input id="projLoc" type="text" placeholder="Enter the project folder Location" ng-model="vm.project.FileName" class="form-control"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="control-group">
                <label for="projDept" class="col-sm-2 control-label">Department:</label>
                <div class="col-sm-3">
                    <select id="projDept" type="text" required="required" ng-model="vm.project.Department" ng-options="d for d in vm.depts" class="form-control">
                        <option value="">-- Choose Department --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="projSite" class="col-sm-1 control-label">Site:</label>
                <div class="col-sm-2">
                    <select id="projSite" required="required" ng-model="vm.project.Site" ng-options="s for s in vm.sites" class="form-control">
                        <option value="">-- Select Site --</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <div class="control-group">
                <label for="projPROJCD" class="col-sm-2 control-label">Created:</label>
                <div class="col-sm-2">
                    <dv-date-picker dp-date="vm.project.PROJCD"></dv-date-picker>
                </div>
            </div>

            <div class="control-group">
                <label class="col-sm-1 control-label">Target</label>
                <div class="col-sm-2">
                    <dv-date-picker dp-date="vm.project.PROJTD"></dv-date-picker>
                </div>
            </div>

            <div class="control-group">
                <label class="col-sm-1 control-label">Completed:</label>
                <div class="col-sm-2">
                    <dv-date-picker dp-date="vm.project.PROJMD"></dv-date-picker>
                </div>
            </div>
        
        </div>
        
        <div class="form-group">
            <label for="projAss_Cont" class="col-sm-2 control-label">Assumptions and Constraints:</label>
            <div class="col-sm-6">
                <textarea id="projAss_Cont" type="text" placeholder="" ng-model="vm.project.Ass_Cont" rows="4" cols="50" class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div style="padding-right:1.2em" class="pull-right">
                <button type="submit" ng-show="vm.new" ng-disabled="editProjectForm.$invalid"
                        ng-click="vm.save(vm.project, editProjectForm)"
                        class="btn btn-primary">Create</button>
                <button type="submit" ng-disabled="editProjectForm.$invalid"
                        ng-click="vm.save(vm.project, editProjectForm)"
                        class="btn btn-primary" ng-hide="vm.new"  >Save Edit</button>
                <button type="button" ng-click="vm.cancelEdit()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    
    </fieldset>
</form>
