<!DOCTYPE 5>
<html>
    
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        
        <!-- build:css ../styles/lib.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="/bower_components/toastr/toastr.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/bower_components/angular-chart.js/dist/angular-chart.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css ../styles/app.css -->
        <!-- inject:css -->
        <link rel="stylesheet" href="/tmp/site.css">
        <!-- endinject -->
        <!-- endbuild -->
        <base href="/">
        <!--base(href="https://cryptic-bayou-4879.herokuapp.com/")-->
        <title>DeviationDB</title>
    </head>{% block user %}{% endblock %}
    
    <body ng-app="app">
        <div class="container">
        <top-nav></top-nav>
        <section class="content">
            <div ui-view></div>
        </section>
        <footer class="container text-center col-sm-12">
            <p>&copy; 2015 Daniel Poulson.</p>
        </footer>
        </div>
        <!-- build:js ../js/lib.js -->
        <!-- bower:js -->
        <script src="/bower_components/es5-shim/es5-shim.js"></script>
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/toastr/toastr.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-resource/angular-resource.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-file-upload/angular-file-upload.js"></script>
        <script src="/bower_components/angular-messages/angular-messages.js"></script>
        <script src="/bower_components/Chart.js/Chart.js"></script>
        <script src="/bower_components/angular-chart.js/dist/angular-chart.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js ../js/app.js -->
        <!-- inject:js -->
        <script src="/app/app.module.js"></script>
        <script src="/app/core/core.module.js"></script>
        <script src="/app/dashboard/dashboard.module.js"></script>
        <script src="/app/layout/layout.module.js"></script>
        <script src="/app/projects/project.module.js"></script>
        <script src="/app/tasks/task.module.js"></script>
        <script src="/app/techservices/techservices.module.js"></script>
        <script src="/app/widgets/widgets.module.js"></script>
        <script src="/app/account/AuthService.js"></script>
        <script src="/app/account/ChangePassServ.js"></script>
        <script src="/app/account/NavBarLoginCtrl.js"></script>
        <script src="/app/account/ProfileCtrl.js"></script>
        <script src="/app/account/UserDataService.js"></script>
        <script src="/app/account/UserServ.js"></script>
        <script src="/app/account/indentity.service.js"></script>
        <script src="/app/common/IndexCtrl.js"></script>
        <script src="/app/common/changeExt.js"></script>
        <script src="/app/common/changeStatus.js"></script>
        <script src="/app/common/dvDatePicker.js"></script>
        <script src="/app/common/dvDayNumber.js"></script>
        <script src="/app/common/dvTaskCount.js"></script>
        <script src="/app/common/forminput.js"></script>
        <script src="/app/common/getItemCount.js"></script>
        <script src="/app/common/mvNotifier.js"></script>
        <script src="/app/common/startFrom.js"></script>
        <script src="/app/dashboard/dashboard.controller.js"></script>
        <script src="/app/dashboard/dashboard.dataservice.js"></script>
        <script src="/app/files/dpFiles.js"></script>
        <script src="/app/files/mvFile.js"></script>
        <script src="/app/layout/top-nav.directive.js"></script>
        <script src="/app/projects/project-edit.controller.js"></script>
        <script src="/app/projects/project-name.js"></script>
        <script src="/app/projects/projects.controller.js"></script>
        <script src="/app/projects/projects.dataservice.js"></script>
        <script src="/app/tasks/task-detail.controller.js"></script>
        <script src="/app/tasks/task-list.controller.js"></script>
        <script src="/app/tasks/task.dataservice.js"></script>
        <script src="/app/techservices/tech-detail.controller.js"></script>
        <script src="/app/techservices/tech.dataservice.js"></script>
        <script src="/app/techservices/techservices.controller.js"></script>
        <!-- endinject -->
        <!-- templates:js -->
        <!-- endinject -->
        <!-- endbuild -->
    </body>

</html>