<form name="devDetailsForm" novalidate="novalidate" class="form-horizontal well dv-well">
    <fieldset>
        <div class="form-group" ng-class="{'has-error': devDetailsForm.devMatNo.$invalid && 
           devDetailsForm.devMatNo.$dirty }">
            <label class="col-sm-2 control-label" for="devMatNo">Material Number:</label>
            <div class="col-sm-4">
                <input class="form-control" id="devMatNo" type="text" name="devMatNo" 
                required ng-model="vm.deviation.dvMatNo" ng-minlength="5" ng-maxlength="51" 
                placeholder="Enter Material No. ( Required, Min 5 character )" />
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="form-group">
            <label  class="col-sm-2 control-label" for="devMatName">Material Name:</label>
            <div class="col-sm-9">
                <input class="form-control" id="devMatName" type="text" required="required" 
                name="devMatName" placeholder="Enter Item Description ( Required, Min 5 characters ) " 
                ng-model="vm.deviation.dvMatName" ng-minlength="10" maxlength="125" />
            </div>
        </div>
        <!-- Product / Material Name-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="devBatNo">Batch Number:</label>
            <div class="col-sm-4">
                <input id="devBatNo" type="text" name="devBatNo" required="required" ng-minlength="5" 
                maxlength="51" placeholder="Enter Batch / Lot ( Required, Min 5 characters )" 
                class="form-control" ng-model="vm.deviation.dvBatchNo" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <!-- Batch Number-->
        <div class="form-group">
            <label class="col-md-2 control-label">Date of Manufacture:</label>
            <div class="col-sm-2">
                <dv-date-picker dp-date="vm.deviation.dvDOM">
                    <!-- Batch Number-->
                </dv-date-picker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="devDescribe">Describe the Deviation</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="devDescribe" rows="6" name="devDescribe"
                placeholder="Describe the deviation (Required)" ng-model="vm.deviation.dvDescribe" 
                required="required"></textarea>
            </div>
        </div>
        <!-- Textarea for the describe box-->
        <div class="form-group">
            <label class="col-md-2 control-label">Date of Deviation:</label>
            <div class="col-sm-2">
                <dv-date-picker dp-date="vm.deviation.dvDate"></dv-date-picker>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="devCust">Customer:</label>
            <div class="col-sm-4">
                <input class="form-control" id="devCust" type="text" name="devCust" required="required" 
                ng-minlength="3" maxlength="51" placeholder="Enter Customer Name ( Required, Min 5 characters )" 
                ng-model="vm.deviation.dvCust" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <!-- Customer reference-->
        <div class="form-group">
            <label class="col-sm-2 control-label" for="devSupplier">Supply / Manufacturer</label>
            <div class="col-sm-4">
                <input class="form-control" id="devSupplier" type="text" name="devSupplier" required="required" 
                ng-minlength="3" maxlength="51" placeholder="Supplier / Manufacturer ( Required, Min 5 characters )"
                 ng-model="vm.deviation.dvSupplier" />
            </div>
            <div class="col-sm-7"></div>
        </div>
        <!-- Supplier-->
        <!-- Supplier-->
        <div class="form-group">
            <div style="padding-right:1.2em" class="pull-right">
                <button type="submit" ng-show="vm.new" ng-disabled="devDetailsForm.$invalid" 
                ng-click="vm.save(vm.deviation, devDetailsForm, 'Deviation created by :')" 
                class="btn btn-primary">Create</button>
                <button type="submit" ng-disabled="devDetailsForm.$invalid || !vm.qaRole && vm.locked " 
                ng-click="vm.save(vm.deviation, devDetailsForm, 'Deviation edited by : ')" 
                class="btn btn-primary" ng-hide="vm.new"  >Save Edit</button>
                <button type="button" ng-click="vm.cancelEdit()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>