<h3>{{vm._dvNo}}</h3>
<div ng-hide="vm.new" class="pull-right">
    <button type="submit" ng-click="vm.save(vm.deviation, '', 'closed')" 
            ng-show="vm.qaRole" class="btn btn-warning">Close Deviation</button>
    <button type="button" ng-click="vm.dvPrint()" class="btn btn-info">Print Deviation</button>
</div>
<div class="wizard">
    <a ui-sref=".detail" ui-sref-active="active">Details</a>
    <a ui-sref=".invest" ui-sref-active="active" ng-hide="vm.new">Investigation</a>
    <a ui-sref=".log" ui-sref-active="active" ng-hide="vm.new">Logs</a>
    <a ui-sref=".tasks" ui-sref-active="active" ng-hide="vm.new">Tasks ({{vm.taskcount}})</a>
    <a ui-sref=".files" ui-sref-active="active" ng-hide="vm.new">Files</a>
</div>
<div ui-view></div>
