<section class="padding-left-right-med">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="project-titleH2 col-md-8">Deviation List ({{vm.totalItems}})</h3>
        </div>
        <div class="col-sm-4 search">
            <dv-list-search query="vm.queryProject" dvplace="Search Deviation" page="vm.setPagPage()"></dv-list-search>
        </div>
    </div>
    <div class="row pull-right">
        <div class="radio-inline handPointer">
            <label>
                <input type="radio" name="optDeviation" checked="true" ng-model="vm.status" ng-change="vm.loadActive()" />Show Active Deviations
            </label>
        </div>
        <div class="radio-inline handPointer">
            <label>
                <input type="radio" name="optDeviation" value="" ng-model="vm.status" ng-change="vm.loadAll()">Show All Deviations
            </label>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr class="dv-fmc-background">
                    <th>Dev #</th>
                    <th>Item Id</th>
                    <th>Item Description</th>
                    <th>Customer</th>
                    <th>Days</th>
                    <th>Assigned</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dev in vm.filtered = (vm.deviation |  filter:vm.queryProject) | startFrom:(vm.currentPage-1)*vm.numPerPage | limitTo:vm.numPerPage" ng-click="vm.getDeviation(dev.dvNo)" class="handPointer clickspan projTab">
                    <td>{{dev.dvNo}}</td>
                    <td>{{dev.dvMatNo}}</td>
                    <td>{{dev.dvMatName}}</td>
                    <td>{{dev.dvCust}}</td>
                    <td>{{dev.dvLog | dvDayNumber: dev.dvClosed}}</td>
                    <td>{{dev.dvAssign}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-page="vm.numPerPage" class="pagination-sm handPointer pull-right">
        <!-- Filter and pagination section-->
    </pagination>
    <div class="addDeviationButton pull-left">
        <button type="button" ng-click="vm.openNewDeviation()" class="btn btn-success">Add New Deviation</button>
    </div>
</section>